*.sublime-project
*.sublime-workspace
.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/
bower_components/
node_modules/
public/system/lib
mean.iml
test/coverage/
modules/public/
modules/views/
/public/build/